<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# renders the partial navigation.html.erb %>
    <%= render 'layouts/navigation' %>

    <div class="container">

      <%### the block below got deprecated as we are running the messages from the users/_result.html.erb
            This change happened because we implemented Ajax and used a data-remote form on my_portfolio.html.erb  %>
      <%### renders the partial _messages.html.erb %>
      <%###= render 'layouts/messages' %>

      <%= yield %>

    </div>

  </body>
</html>
